<!-- The Content Heading, descrides the content of the view -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% }else{ res.redirect('/') } %>

        <!-- A Message Block, used to display messages in a view -->
        <%- messages() %>

            <!-- Login form Display, display the content -->
            
            <% if (accountType === "Employee" || accountType === "Admin") { %>
                <h2> Welcome <%= userName %> </h2>
                <a title="Click to update your account" href="/account/updateAccount/<%= session.account.account_id %>">Update Account</a>
                <h3>Inventory Management </h3>
                <p><a href="/inv"> Inventory Management</a></p>
            <% } else { %>
                <h2> Welcome <%= userName %> </h2>
                <a title="Click to update your account" href="/account/updateAccount/<%= session.account.account_id %>">Update
                    Account</a>
            <% } %>